/* .list_image__wrapper img {
  display: none;
}

.list_image__field_wrapper > * {
  display: inline-block;
}

.list_image__field_wrapper .list_image__wrapper {
  vertical-align: middle;
  padding: 1rem 1rem;
} */



.list_image__wrapper img {
  display: none;
}

.list_image__field_wrapper > * {
  display: inline-block;
  vertical-align: middle; 
}

.list_image__field_wrapper .list_image__wrapper {
  vertical-align: middle ;
  padding: 1rem ;
  height: 35px;
  text-align: center; 
}
